#app-root {
    width: 400px;
    height: 75px;
    padding: 2px;
    background-color: #56A5D8;

    p {
        background-color: #f8f8f8;
        padding: 5px;

        .highlight {
            color: white;
            background-color: #E8912E;
        }
    }
}
